* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}


.wrapper {
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}


.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right span {
  margin: 12px;
}


.filter {
  display: flex;
  gap: 24px;
}
.filters img {
  width: 20%;
  margin: 16px;
  cursor: pointer;
}
.grayscale {
  filter: grayscale(10) !important;
}
.hue-rotate {
  filter: hue-rotate(100deg) !important;
}
.sepia {
  filter: sepia(10) !important;
}
.invert {
  filter: invert(10) !important;
}
.saturate {
  filter: saturate(10) !important;
}
.contrast {
  filter: contrast(3) !important;
}
.blur {
  filter: blur(2px) !important;
}


.settings {
  display: flex;
  flex-direction: column;
}
.settings input {
  max-width: 200px;
  margin: 12px;
}
.settings button {
  margin: 12px;
}
.flip {
  transform: rotateY(180deg) !important;
}
.flap {
  transform: rotateZ(180deg) !important;
}